/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	#speakers{
		padding: 20px 0;
		.row-item-col{
			margin: 20px 0;
		}
		.row-item{
			margin-top: 40px;
		}
	}
	
	%speakers-head{
		margin: 20px 0;
	}
	

	
}

	.speakers-head{
		@extend %speakers-head;
	}

	.speakers-footer{
		@extend %speakers-head;
	}
	
#events{
	@extend #speakers;
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
}

@media only screen and (max-width : 600px) {
	#header{
		min-height: 300px;
		
		h1{
			font-size: 20px;
		}
		p{
			font-size: 16px;
		}
		
	.section-center{
		max-width: 320px;
	}

	.section-btn{
		font-size: 15px;
	}
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	#event{
			.row-item{
			margin-top: 10px;
		}
	}
}